*{
    background-color: black;
    font-family: sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
ul{
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: darkgrey;
   position: sticky;
   top: 0;
}
ul li{
    float: left;
}
ul li a{
    display: block;
    color: ghostwhite;
    background-color: darkgray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul li a:hover{
  background-color: crimson;
}
ul li a.active{
    background-color: crimson;
}
h1, .laid{
    position: relative;
}
h1{
    color: crimson;
    font-family: monospace;
    font: bold;
    
   
}
#laid{
    height: 100vh;
    position: absolulte; right: 20vh;
    width: 100vh;
}
}
