*{
    background-color: black;
    font-family: sans-serif;
    
    
 }
body{
    background: #0d0d0d;
  color: white;
  font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    width: 100vw;
}
ul{
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: burlywood;
   position: sticky;
   top: 0;
   
}
ul li{
    float: left;
}
ul li a{
    display: block;
    color: ghostwhite;
    background-color: burlywood;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul li a:hover{
  background-color: crimson;
}
ul li a.active{
    background-color: crimson;
}

.mov{
    font-size: 60px;
    color: crimson;
    font-family: monospace;
    font: bold;
    position: absolute; left: 4.2in; top: 110px;
}
.ty{
    font-size: 30px;
    color: crimson;
    font-family: 'Times New Roman', Times, serif;
    font: bold;
    margin-bottom: 10px;
    position: absolute; left: 4.4in; top: 410px;
}
#laid{
    height: 90vh;
    position: absolute; left: 7.82in; top: 11vh;
    width: 110vh;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.topl {
  position: absolute;
  top: 8px;
  left: 16px;

}
.hungry{
    color: cadetblue;
}
hr{
    width: 100vw;
    size: 10vh;
}
.progress{
    position: absolute;top: 8in;
  color: yellow;
}
.card{
    position: absolute; top: 1in; left:42vh;
}
.fit{
    color:crimson;
}

button{
    color: pink;
}
.hydrate{
    color: lightblue;
}
body {
  margin: 0;
  font-family: Arial;
  background: #0d0d0d;
  color: white;
}

h2 {
  text-align: center;
  color: #00ff88;
  margin-top: 20px;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  padding: 20px;
}

.card {
  background: #151515;
  padding: 26px;
  border-radius: 15px;
  border: 1px solid #222;
  transition: 0.3s;
  margin-top: 20px;
}

.card:hover {
  transform: translateY(-5px);
  border-color: #00ff88;
  box-shadow: 0 0 15px rgba(0,255,136,0.2);
}

button {
  margin: 5px;
  padding: 8px 12px;
  background: #222;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #00ff88;
  color: black;
}


.good {
  border-color: #00ff88;
  box-shadow: 0 0 20px rgba(0,255,136,0.3);
}
#workout{
    position: absolute;top: 50vh;
}