*{
    background-color: black;
    font-family: sans-serif;
    
    
 }
body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100vw;
}
ul{
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: darkgrey;
   position: sticky;
   top: 0;
   
}
ul li{
    float: left;
}
ul li a{
    display: block;
    color: ghostwhite;
    background-color: darkgray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul li a:hover{
  background-color: crimson;
}
ul li a.active{
    background-color: crimson;
}

h1{
    font-size: 60px;
    color: crimson;
    font-family: monospace;
    font: bold;
    position: absolute; left: 4.2in; top: 110px;
}
.ty{
    font-size: 30px;
    color: crimson;
    font-family: 'Times New Roman', Times, serif;
    font: bold;
    margin-bottom: 10px;
    position: absolute; left: 4.4in; top: 410px;
}
#laid{
    height: 90vh;
    position: absolute; left: 7.82in; top: 11vh;
    width: 110vh;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.topl {
  position: absolute;
  top: 8px;
  left: 16px;

}
.hungry{
    color: cadetblue;
}
